$enable-debugging:					true !default;
$enable-warnings:					true !default;

$enable-compatibility-btn:			true !default;
$enable-compatibility-dropdown:		true !default;
$enable-compatibility-grid:			true !default;
$enable-compatibility-img:			true !default;
$enable-compatibility-nav:			true !default;
$enable-compatibility-pager:		true !default;
$enable-compatibility-pagination: 	true !default;
$enable-compatibility-panel:		true !default;
$enable-compatibility-well:			true !default;

$enable-container-as-row:			false !default;